<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <title>MIT License &dash; {{title}}</title>

    <link rel="stylesheet" type="text/css" href="/css/readme.css" />
    <link href='https://fonts.googleapis.com/css?family=Droid+Sans:400,700' rel='stylesheet' type='text/css'/>

    {{> head}}

  </head>
  <body>

    <div class="wrapper">
        <header>
            <h1 class="home-link">Account</h1>
        </header>

        <section>
                <h2>Currently sign in as:</h2>
               {{> account }}
        </scetion>

        {{> footer}}

     </div>

  </body>
</html>